# ======================
# Java / Spring Boot
# ======================
target/
*.class
*.jar

# ======================
# Maven Wrapper
# ======================
.mvn/wrapper/maven-wrapper.jar

# ======================
# IDE Files
# ======================
.vscode/
.idea/
*.iws
*.iml
*.ipr

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# Env / Secrets
# ======================
.env